.wrapper{
    position: relative;
}

.input{
    
    border: 1px solid var(--gray-darken);
    border-radius: 7px;

    padding: 7px 5px;

    background-color: var(--gray-light);

    color: var(--gray-darken);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}


.input:focus{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

.label{
    margin-left: 5px;
    color: var(--font-dark);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
}

.button{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    aspect-ratio: 1/1;

    background-color: rgba(0, 0, 0, 0);
    border-radius: 7px;
}